// SITE CONTENT
.site-content {

  .post {
    margin: 0 0 4rem 0;
    padding-bottom: 4rem;
    border-bottom: 1px solid $color-gray-300;

    .post-thumbnail {
      display: block;
      margin-bottom: 2rem;
    }

    .post-header {

      .post-title {
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 500;
        color: $black;

        a {
          color: $black;
        }
      }
    }

    .post-meta-details {
      padding: 0;

      li {
        position: relative;
        display: inline-block;
        margin-right: 1rem;
        padding-right: 1rem;
        color: $color-gray-500;
        font-size: 1.2rem;
        line-height: 3rem;
        font-weight: 500;
        text-transform: uppercase;

        a {
          color: $color-gray-500;

          &:hover {
            color: $black;
          }
        }

        &:after {
          content: "/";
          position: absolute;
          right: -5px;
        }

        &:last-child {
          margin-right: 0;
          padding-right: 0;

          &:after {
            content: "";
          }
        }
      }
    }

    .post-content {
      margin-top: 2rem;
      margin-bottom: 5rem;

      p {
        color: $black;
      }
      h1 {
        a {
          color: $black;
          text-decoration: underline;
        }
      }
      h2, h3, h4, h5, h6 {
        @extend h1;
      }
    }

  }

  .comments-area {
    margin-top: 10rem;

    a {
      color: $black;
    }

    .comments-title {
      margin: 0 0 3rem 0;
      padding-bottom: 3rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: $black;
      text-transform: uppercase;
      border-bottom: 1px solid $color-gray-300;
    }

    .comment-list {
      padding: 0;
      list-style-type: none;

      .comment {
        margin-bottom: 3rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $color-gray-300;

        ol {
          margin-top: 2rem;
          list-style-type: none;
        }

        .comment-body {

          .comment-meta {

            .comment-author {
              margin-bottom: 1rem;

              img {
                float: left;
                margin-right: 3rem;
                width: 5rem;
                height: 5rem;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
              }

              .fn {
                font-size: 1.8rem;
                font-weight: 500;
                color: $black;

                a {
                  color: $black;
                }
              }

              .says {
                display: none;
              }
            }

            .comment-metadata {
              margin-top: -1rem;
              font-size: 1rem;
            }
          }

          .comment-content {
            margin-top: 1rem;
            padding-left: 8rem;
            width: 100%;
            overflow: hidden;

            p, ul {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              color: lighten($black, 20%);
            }
          }

          .reply {
            float: right;

            a {
              display: inline-block;
              padding: .4rem 1rem;
              font-size: 1rem;
              text-decoration: none;
              background-color: $color-gray-100;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
      }
    }

    .comment-respond {

      .comment-reply-title {
        margin-top: 5rem;
        font-size: 1.4rem;
        color: $black;

        small {
          float: right;

          #cancel-comment-reply-link {
            display: inline-block;
            margin-top: 1rem;
            padding: .4rem 1rem;
            background-color: $black;
            color: $white;
          }
        }
      }

      .comment-form {

        .comment-notes {
          font-size: 1.2rem;
          color: $color-gray-500;
        }

        .comment-form-comment {
          margin-top: 5rem;
        }

        p {
          margin-bottom: 2rem;

          label {
            display: block;
            margin-bottom: .5rem;
            font-size: 1.6rem;
            color: $black;
          }

          textarea {
            padding: 1rem;
            width: 100%;
            border-radius: 0;
            border-color: $color-gray-300;
            box-shadow: none;
          }

          input[type="text"], input[type="email"], input[type="url"] {
            width: 100%;
            border-radius: 0;
            border-color: $color-gray-300;
            box-shadow: none;
          }

          input[type="submit"] {
            display: inline-block;
            padding: .8rem 1.6rem;
            border: none;
            border-radius: 0;
            color: $white;
            background-color: $black;
            box-shadow: none;
            cursor: pointer;
          }
        }

        .comment-form-cookies-consent {

          label {
            display: inline-block;
            margin-left: 1rem;
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}