// Buttons
.button {
  padding: 8px 16px;
  color: $white;
  font-size: 16px;
  background-color: $primary-color;
  border: none;
  border-radius: 0;

  &.button-white {
    color: $primary-color;
    background-color: $white;

    &:visited {
      color: $primary-color;
    }
  }

  &.button-bordered {
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;

    &:hover  {
      color: $white;
      background-color: $primary-color;

      &:visited {
        color: $white;
      }
    }

    &:visited {
      color: $primary-color;
    }
  }

  &:visited {
    color: $white;
  }
}

// SEARCH FORM
.search-form {

  input[type="text"], input[type="search"], input[type="email"] {
    padding: 10px 20px;
    border: 1px solid $primary-color;
    border-radius: 0;
  }

  input[type="submit"], input[type="button"], button {
    padding: 15px 30px;
    color: $white;
    font-size: 16px;
    background-color: $primary-color;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
}