// COLOR VARIABLES
$color-gray-100: #F1F1F1;
$color-gray-300: #EAEAEA;
$color-gray-500: #8E8D8D;
$color-black-700: #0a0a0a; 
$color-white: #ffffff;

// BRAND COLORS
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$primary-color: #F28F3B;

// GLOBAL VARIABLES
$family-sans-serif: "Poppins", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #000000;
$link: #000000;
$widescreen-enabled: true;
$fullhd-enabled: true;
 
// COMPONENT VARIABLES
$body-background-color: $beige-lighter;
$control-border-width: .2rem;
$input-border-color: transparent;
$input-shadow: none;

// Responsive Variables
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;